{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Hermes</title>

        <link rel="icon" href="{% static 'companies/images/hermes_favicon.jpg' %}">
        <link rel="stylesheet" href="{% static 'companies/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" referrerpolicy="no-referrer" />
    </head>

    <body>
        <header class="top-bar">
            <h1 class="top-bar-title">
                <a href="{% url 'companies:list' %}">
                    <img src="{% static 'companies/images/hermes_logo.png' %}" alt="Hermes Logo" class="logo"> Hermes
                </a>
            </h1>
        </header>

        {% block content %}{% endblock %}

        <script src="{% static 'companies/js/scripts.js' %}"></script>
    </body>

</html>