{% extends 'global/base.html' %}

{% block content %}
    {% include 'companies/partials/form.html'  with action=form_action messages=messages %}
    {% include 'companies/partials/table.html' with objects=companies %}

    {% if is_paginated %}
        <nav aria-label="pagination" class="centered">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?q={{ search_query }}&before={{ page_obj.prev_cursor }}">Previous</a>
                {% endif %}

                <span class="current">
                    {{ companies|length }} results
                </span>

                {% if page_obj.has_next %}
                    <a href="?q={{ search_query }}&after={{ page_obj.next_cursor }}">Next</a>
                {% endif %}
            </div>
        </nav>
    {% endif %}

{% endblock %}