{% extends 'companies/base.html' %}

{% block content %}
    {% include 'companies/partials/form.html'  with action=form_action messages=messages %}
    {% include 'companies/partials/table.html' with objects=companies %}

    {% if is_paginated %}
        <nav aria-label="pagination" class="centered">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?q={{ search_query }}&page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?q={{ search_query }}&page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </nav>
    {% endif %}

{% endblock %}