<div class="search-container centered">

    <form class="search-form" action="{{ action }}">
        <input
            type="text"
            name="q"
            value="{{ search_query }}"
            placeholder="Search for companies..."
            aria-label="search-companies"
            required
        />
        <button type="submit" aria-label="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    {% if errors %}
        <div class="alert alert-error centered" role="alert">
            {% for message in errors %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

</div>